* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: darkgray;
	height: 100vh;
	display: flex;
}

.calculator {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.calculator > div {
	display: flex;
	align-items: center;
	background-color: rgb(55, 55, 55);
	color: darkgray;
	font-size: 2em;
	font-weight: bold;
	height: 80px;
}

.calculator-button {
	justify-content: center;
	width: 80px;
	user-select: none;
}

.calculator-screen {
	grid-column: 1 / 5;
	padding: 20px;
	justify-content: flex-end;
}

.calculator-equal {
	grid-column: 1 / 5;
	width: 100%;
}

.calculator-button:hover {
	background-color: rgb(68, 68, 68);
	cursor: pointer;
}

.calculator-button:active {
	background-color: black;
}
